.item  {
    width: 100%;
    display: flex;
    gap: 24px
}

.title {
    font-size: 14px;
}

.extra {
    font-size: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.wrapper {
    width: 64px;
    height: 64px;
    background-color: #F2F4F5;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}